# user
typings
docs
formily

# 依赖(可选)
*-lock.*

# Logs
logs
*.log
*.log*

# outs
node_modules
dist
*.zip
*.local
.DS_Store

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 系统文件
Thumbs.db

# 测试覆盖率
coverage

# 环境变量
.env.local
.env.*.local

# 缓存
.cache
.temp
*.tsbuildinfo