@use './variables.scss';

.#{$namespace}-form {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: $--form-gap;

  &--inline {
    display: flex;
    flex-wrap: wrap;
    gap: $--form-inline-gap;
  }
}