@use './variables' as *;

.#{$namespace}-field {
  display: flex;
  align-items: flex-start;
  gap: $field-gap;

  &--inline {
    display: inline-flex;
    margin-right: 16px;
    align-items: center;
  }

  &__label {
    flex-shrink: 0;
    font-size: $label-font-size;
    line-height: $label-line-height;
    text-align: right;
    white-space: nowrap;
  }

  &--inline &__label {
    line-height: normal;
  }

  &__control {
    flex: 1;
    min-width: 0;
  }

  &__error {
    margin-top: $error-margin-top;
    font-size: $error-font-size;
    color: $error-color;
    line-height: $error-line-height;

    span {
      display: block;
    }
  }
}