@use './variables' as *;

.#{$namespace}-form {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: $form-gap;

  &--inline {
    display: flex;
    flex-wrap: wrap;
    gap: $form-inline-gap;
  }
}

@media (max-width: 640px) {
  .#{$namespace}-form {
    grid-template-columns: 1fr;

    &--inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
}
